@import url("https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:400,700|Pacifico|Arvo:700");
body {
  background: white;
  padding: 1em;
  font-family: 'Pacifico';
  font-family: 'Roboto', sans-serif;
  font-family: 'Arvo', serif;
  font-family: 'Raleway', sans-serif; }

.imageList {
  display: none; }

.boothBuilder {
  border-radius: 1em;
  box-shadow: 0px 2px 10px 0px #97c9e4;
  height: 90vh;
  background-image: url("../images/curtain.png");
  background-size: 90vh; }
  .boothBuilder h1 {
    position: absolute;
    text-transform: capitalize;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 1px white;
    padding: 0 1em;
    line-height: 0em;
    letter-spacing: 2px;
    top: 0;
    color: #4a8c94;
    z-index: 101;
    margin: 0; }
    @media (max-width: 990px) {
      .boothBuilder h1 {
        text-align: center;
        width: 90%;
        margin: 0;
        padding: 0;
        display: block;
        box-sizing: border-box; } }
    .boothBuilder h1 img.logo {
      left: -.5em;
      top: .23em;
      width: 40px;
      transform: scale(1.35);
      position: relative; }
  .boothBuilder .appRow {
    display: flex;
    overflow: visible;
    border-radius: 1em;
    height: 100%; }
    @media (max-width: 990px) {
      .boothBuilder .appRow {
        flex-direction: column; } }
    .boothBuilder .appRow #viewport {
      position: relative;
      width: 67%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0;
      text-align: justify;
      overflow: hidden; }
      @media (max-width: 990px) {
        .boothBuilder .appRow #viewport {
          width: 100%;
          height: 40%; } }
      .boothBuilder .appRow #viewport #introText {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        @media (max-width: 990px) {
          .boothBuilder .appRow #viewport #introText {
            padding: 1em 0; }
            .boothBuilder .appRow #viewport #introText p {
              padding: 0 1em;
              margin: .7em 0; } }
      .boothBuilder .appRow #viewport #pleaseSelectText {
        display: none; }
        .boothBuilder .appRow #viewport #pleaseSelectText p {
          text-align: center; }
      .boothBuilder .appRow #viewport p {
        box-sizing: border-box;
        width: 100%;
        padding: 0em 2em;
        font-size: 2em;
        width: 100%;
        color: #056d79;
        text-align: justify;
        line-height: 1.6; }
        @media (max-width: 990px) {
          .boothBuilder .appRow #viewport p {
            font-size: 15px;
            line-height: 1.5; } }
        .boothBuilder .appRow #viewport p i {
          font-size: 1.5em;
          font-weight: bold;
          display: block;
          text-align: center; }
      .boothBuilder .appRow #viewport div.selectedBG, .boothBuilder .appRow #viewport div.selectedFG {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover; }
      .boothBuilder .appRow #viewport div.selectedFG {
        z-index: 100;
        top: 0;
        background-position: 50% 100%;
        background-size: 100%; }
        @media (max-width: 990px) {
          .boothBuilder .appRow #viewport div.selectedFG {
            top: 0; } }
      .boothBuilder .appRow #viewport .selectedProps {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        align-items: flex-end; }
        .boothBuilder .appRow #viewport .selectedProps img {
          height: 95%;
          bottom: 0; }
    .boothBuilder .appRow #selectAccordion {
      width: 33%;
      background: #97c9e4;
      border-left: 1px solid #97c9e4; }
      @media (max-width: 990px) {
        .boothBuilder .appRow #selectAccordion {
          width: 100%;
          height: 60%; } }
      .boothBuilder .appRow #selectAccordion h3.ui-accordion-header {
        letter-spacing: 2px;
        background: #d8e8f1;
        color: #97c9e4;
        border-right: 1px solid #97c9e4;
        padding: 1em .5em;
        text-transform: uppercase;
        font-family: 'Arvo', serif;
        transition: all .3s ease-in;
        position: relative;
        z-index: 5;
        outline: 0; }
        .boothBuilder .appRow #selectAccordion h3.ui-accordion-header .headerTitle {
          position: absolute;
          z-index: 2;
          top: .5em;
          left: 3em; }
        .boothBuilder .appRow #selectAccordion h3.ui-accordion-header .numberCircle {
          position: absolute;
          left: -.2em;
          top: -.215em;
          transform: scale(0.6) translateX(0.1em);
          text-align: center;
          line-height: 1em;
          font-size: 2.5em;
          width: 1.2em;
          height: 1.2em;
          border-radius: 50%;
          color: white;
          z-index: 1;
          font-family: 'Pacifico';
          opacity: .333;
          border: 0px solid white;
          background: red;
          transition: all .3s ease-in; }
        .boothBuilder .appRow #selectAccordion h3.ui-accordion-header-active, .boothBuilder .appRow #selectAccordion h3.ui-accordion-header:hover {
          background: white; }
          .boothBuilder .appRow #selectAccordion h3.ui-accordion-header-active .headerTitle, .boothBuilder .appRow #selectAccordion h3.ui-accordion-header:hover .headerTitle {
            color: #a5a219; }
        .boothBuilder .appRow #selectAccordion h3.ui-accordion-header-active {
          box-shadow: 0px -5px 23px -2px #e7a61a; }
          .boothBuilder .appRow #selectAccordion h3.ui-accordion-header-active .numberCircle {
            opacity: 1;
            transform: scale(1);
            border: 2px solid white;
            box-shadow: -4px -7px 27px -4px #e7a61a; }
      .boothBuilder .appRow #selectAccordion .ui-accordion-content {
        padding: 0;
        height: calc(100% - 10.2em);
        background: white;
        z-index: 10;
        overflow-y: scroll !important;
        overflow-x: hidden; }
        .boothBuilder .appRow #selectAccordion .ui-accordion-content.selectComplete {
          background: #85a2a2; }
          .boothBuilder .appRow #selectAccordion .ui-accordion-content.selectComplete img {
            opacity: .5; }
        .boothBuilder .appRow #selectAccordion .ui-accordion-content img {
          box-sizing: border-box;
          width: 33%;
          height: auto;
          position: relative;
          cursor: pointer;
          transition: all .3s;
          border-radius: 10px;
          padding: 2px;
          box-shadow: 0 0 0 0 rgba(226, 255, 253, 0.6); }
          .boothBuilder .appRow #selectAccordion .ui-accordion-content img:before {
            position: absolute;
            top: 0px;
            left: 1em;
            text-align: center;
            content: ' '; }
          .boothBuilder .appRow #selectAccordion .ui-accordion-content img.selected {
            transform: scale(1.2);
            z-index: 3;
            opacity: 1 !important;
            box-shadow: 1px 4px 15px 1px rgba(226, 255, 253, 0.6);
            background: rgba(226, 255, 253, 0.94); }
          .boothBuilder .appRow #selectAccordion .ui-accordion-content img:hover {
            opacity: .9; }
            .boothBuilder .appRow #selectAccordion .ui-accordion-content img:hover:before {
              content: attr(title) " ";
              font-size: 2em; }

/*!
 * jQuery UI Accordion 1.10.3
 * http://jqueryui.com
 *
 * Copyright 2013 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */
.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin-top: 2px;
  padding: .5em .5em .5em .7em;
  min-height: 0;
  /* support: IE7 */ }

.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em; }

.ui-accordion .ui-accordion-noicons {
  padding-left: .7em; }

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em; }

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px; }

.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto; }

/*# sourceMappingURL=app.css.map */
