$breakpoints: (
  xs: 576px,
  sm: 991px,
  md: 992px,
  lg: 1200px
);
@mixin respond-below($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  
  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}


@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:400,700|Pacifico|Arvo:700');

$blue: #97c9e4;


body{
	background: white;
    padding: 1em;
    font-family: 'Pacifico';
    font-family: 'Roboto', sans-serif;
    font-family: 'Arvo', serif;
    font-family: 'Raleway', sans-serif;

} 

.imageList{
    display: none;
}

.boothBuilder{
    border-radius: 1em;
    box-shadow: 0px 2px 10px 0px $blue;
    height: 90vh;
    background-image: url('../images/curtain.png');
    background-size: 90vh;


    h1{
        position: absolute;
        text-transform: capitalize;
        font-family: 'Pacifico', cursive;
        text-shadow: 2px 2px 1px white;
        padding: 0 1em;
        line-height: 0em;
        letter-spacing: 2px;
        top: 0;
        color: #4a8c94;
        z-index: 101;
        margin: 0;

        @include respond-below(sm) {
            text-align: center;
            width: 90%;
            margin: 0;
            padding: 0;
            display: block;
            box-sizing: border-box;
        }

        img.logo{
            left: -.5em;
            top: .23em;
            width: 40px;
            transform: scale(1.35);
            position: relative;
        }
    }
    .appRow{
        display: flex;
        overflow: visible;
        border-radius: 1em;
        height: 100%;
        @include respond-below(sm) {
            flex-direction: column;
        }

        #viewport{
            position: relative;
            width: 67%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0;
            text-align: justify;
            overflow: hidden;

            @include respond-below(sm) {
                width: 100%;
                height: 40%;
            }
            #introText{
                height: 100%;
                display: flex;
                flex-direction: column;
                
                @include respond-below(sm) {
                    padding: 1em 0;

                    p{

                        padding: 0 1em;
                        margin: .7em 0;
                    }
                }
            }
            #pleaseSelectText{
                display: none;
                p{
                    text-align: center;
                }
            }

            p{

                @include respond-below(sm) {
                    font-size: 15px;
                    line-height: 1.5;
                }

                box-sizing: border-box;
                width: 100%;
                padding: 0em 2em;
                font-size: 2em;
                width: 100%;
                color: #056d79;
                text-align: justify;
                line-height:1.6;

                i{
                    font-size: 1.5em;
                    font-weight: bold;
                    display: block;
                    text-align: center;
                }
            }

            div.selectedBG, div.selectedFG{
                z-index: 1;
                position: absolute;
                width: 100%;
                height: 100%;
                display: none;
                background-repeat: no-repeat;
                background-position: 50% 0;
                background-size: cover;
            }
            div.selectedFG{
                z-index: 100;
                top: 0;
                background-position: 50% 100%;
                background-size: 100%;

                @include respond-below(sm) {
                    top: 0;
                }
            }
            .selectedProps{
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 100%;
                z-index: 10;
                display: flex;
                align-items: flex-end;
                justify-content: space-evenly;
                flex-wrap: wrap;

                img{
                    width: 22%;
                }
            }
        }
        #selectAccordion{
            width: 33%;
            background: $blue;
            border-left: 2px solid $blue;
            @include respond-below(sm) {
                width: 100%;
                height: 60%
            }

            h3.ui-accordion-header{
                letter-spacing: 2px;
                background: #d8e8f1;
                color: $blue;
                padding: 1em .5em;
                text-transform: uppercase;
                font-family: 'Arvo', serif;
                transition: all .3s ease-in;
                position: relative;
                z-index: 5;
                outline: 0;

                .headerTitle{
                    position: absolute;
                    z-index: 2;
                    top: .5em;
                    left: 3em;
                }

                .numberCircle {
                    position: absolute;
                    left: -.2em;
                    top: -.215em;
                    transform: scale(0.6) translateX(.1em);
                    text-align: center;
                    line-height: 1em;
                    font-size: 2.5em;
                    width: 1.2em;
                    height: 1.2em;
                    border-radius: 50%;
                    color: white;
                    z-index: 1;
                    font-family: 'Pacifico';
                    opacity: .333;
                    border: 0px solid white;
                    background: red;
                    transition: all .3s ease-in;
                }

                &-active, &:hover{
                    background: white;

                    .headerTitle{
                        color: #a5a219;
                    }
                }
                &-active{
                    .numberCircle{
                        opacity: 1;
                        transform: scale(1);
                        border: 2px solid white;
                    }
                }
            }

            .ui-accordion-content{
                padding: 0;
                height: calc(100% - 10.2em);
                background: white;
                z-index: 10;
                overflow-y: scroll !important;
                overflow-x: hidden;

                &.selectComplete{
                    background: #85a2a2;

                    img {
                        opacity: .5;
                    }
                }
                img{
                    box-sizing: border-box;
                    width: 33%;
                    //width: 149px;
                    height: auto;
                    //height: 113px;
                    position: relative;
                    cursor: pointer;
                    transition: all .3s;
                    border-radius: 10px;
                    padding: 2px;
                    box-shadow: 0 0 0 0 rgba(226, 255, 253, 0.6);

                    &:before{
                        position: absolute;
                        top: 0px;
                        left: 1em;
                        text-align: center;
                        content: ' ';
                    }

                    &.selected{
                        transform: scale(1.2);
                        z-index: 3;
                        opacity: 1 !important;
                        box-shadow: 1px 4px 15px 1px rgba(226, 255, 253, 0.6);
                        background: rgba(226, 255, 253, 0.94);
                    }


                    &:hover{
                        opacity: .9;
                        //box-shadow: outset 0px 2px 10px 14px rgba(255,255,255,0.97);

                        &:before{
                            content: attr(title) ' ';
                            font-size: 2em;
                        }
                    }
                }
            }

        }
    }
}



/*!
 * jQuery UI Accordion 1.10.3
 * http://jqueryui.com
 *
 * Copyright 2013 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin-top: 2px;
    padding: .5em .5em .5em .7em;
    min-height: 0; /* support: IE7 */
}
.ui-accordion .ui-accordion-icons {
    padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
    padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
    padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    overflow: auto;
}
