#boothBuilder{

}
#boothBuilder #pane{
	
}
#boothBuilder #selectors{
	
}
#selectors .options{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-around;
}
#selectors .options div.option{
	display: inline-block;

}